---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Icon from "astro-icon";
import heroBGImg from "src/assets/images/gym/IMG_1016.jpg";

const amenities = [
  {
    category: "Gym amenities",
    icon: "mdi:arm-flex",
    items: [
      "free WIFI",
      "Kids' corner",
      "Board games",
      "spacious work out areas",
      "Wheelchair Access into building",
      "lots of room for wheelchairs",
      "Close to waterfront",
      "Quiet, private oasis to work out in",
      "Floor to ceiling windows and balcony",
      "Library",
    ],
  },
  {
    category: "Cardio",
    icon: "mdi:run",
    items: [
      "Treadmills",
      "Ski Erg",
      "Rowing Machine ",
      "Exercise Bikes",
      "Elliptical",
      "Boxing gloves",
      "Focus pads",
      "Kick pads",
      "Skipping ropes",
    ],
  },
  {
    category: "Strength",
    icon: "mdi:barbell",
    items: [
      "Squat Rack ",
      "Dual Adjustable Pulley",
      "Plate loaded",
      "Barbells",
      "Dumbbells",
      "Sled",
      "Landmine",
      "Kettlebells",
      "Medicine balls",
      "Slam balls",
      "Resistance bands",
      "Step benches",
    ],
  },
  {
    category: " Services",
    icon: "mdi:whistle",
    items: [
      "personal training",
      "fitness assessment",
      "Personal Training",
      "Fitness Assessments",
      "Mobility Training",
      "Training for Sports People",
      "Specialising in Training Differently-Abled",
      "Young Kids and Youth Coach",
      "Wellbeing and Women's Coach",
      "Absolute Beginners",
      "People Too Shy to Workout on Their Own",
      "Training for Autoimmune Diseases, Diabetes, Cardiac Disease, Stroke, etc.",
    ],
  },
  {
    category: "Core & Stretches",
    icon: "icon-park:abdominal",
    items: [
      "VKR",
      "Yoga mats",
      "Medicine balls",
      "Benches",
      "Swiss Balls",
      "Foam rollers",
      "trigger/myofacial release balls",
      "Balance Disc/cushions",
      "Balance Wobble board",
      "Bosu ball",
    ],
  },
  {
    category: "Classes",
    icon: "fa:group",
    items: [
      "Masterclasses in exercise, nutrition etc",
      "Group fitness classes incl cardio boxing, core etc",
      "Sunday Bootcamps",
      "Self-Defense for children and women",
      "Cook Islands Ura (Hula) Fitness",
      "Plant-based (no dairy) Cooking/prep Classes",
      "Transitioning to Plant-based workshops",
      "Wellbeing workshops (dealing with stress, balancing a busy life etc)",
      "Special programmes for single mums",
    ],
  },
];
---

<Layout title="Amenities">
  <div class="flex flex-col gap-24 max-md:gap-12 py-20">
    <section
      class="flex flex-col items-center gap-6 pt-20 max-md:pt-10 relative"
    >
      <div class="py-32 max-md:py-10">
        <div class="text-center flex flex-col gap-6 max-md:gap-2 text-base-200">
          <h1 class="uppercase text-8xl font-bold max-md:text-4xl z-10">
            What we have to offer
          </h1>
          <!-- <h2 class="text-2xl max-md:text-xs z-10">
            Empower your quiet strength in our community of wellness
          </h2> -->
        </div>
        <div class="flex flex-col items-center">
          <!-- <Image
            src={heroImg}
            width={900}
            alt="Ata Ahi Fitness"
            class="-mt-10 w-[900px] max-md:-mt-2"
          /> -->
        </div>
        <Image
          src={heroBGImg}
          width={1300}
          alt="Ata Ahi Fitness"
          class="absolute top-0 left-0 w-full h-full object-cover"
        />
        <div
          class="absolute top-0 left-0 w-full h-full object-cover bg-gradient-to-r from-primary to-black opacity-[35%]"
        >
        </div>
      </div>
    </section>
    <section
      class="grid grid-cols-3 max-md:grid-cols-2 gap-6 max-lg:grid-cols-3 mx-auto px-8"
    >
      {
        amenities.map((amenity) => (
          <div class="flex flex-col gap-4">
            <div class="flex items-center gap-2">
              <Icon name={amenity.icon} class="w-8" />
              <h1 class="capitalize text-2xl">{amenity.category}</h1>
            </div>
            <ul class="mt-2">
              {amenity.items.map((item) => (
                <li class="capitalize list-disc ml-4">{item}</li>
              ))}
            </ul>
          </div>
        ))
      }
    </section>
  </div>
</Layout>

<script>
  // import Swiper bundle with all modules installed
  import Swiper from "swiper/bundle";

  // import styles bundle
  import "swiper/css/bundle";

  const swiper = new Swiper(".gallery", {
    breakpoints: {
      640: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 3,
      },
    },
    autoplay: {
      delay: 5000,
      disableOnInteraction: true,
      pauseOnMouseEnter: true,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
