---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import weAreWomenBust1 from "@assets/images/we-are-women-bust-1.png";
import weAreWomenFitness from "@assets/images/we-are-women-bust-2.png";
import womenPositiveImg from "@assets/images/women-positive.jpeg";
import bottleImg from "@assets/images/bottle.png";

import amenitiesImg1 from "@assets/images/gym/IMG_0990.jpg";
import amenitiesImg2 from "@assets/images/gym/IMG_0993.jpg";
import amenitiesImg3 from "@assets/images/gym/IMG_0996.jpg";
import amenitiesImg4 from "@assets/images/gym/IMG_1006.jpg";
import amenitiesImg5 from "@assets/images/gym/IMG_1008.jpg";
import amenitiesImg6 from "@assets/images/gym/IMG_1009.jpg";
import amenitiesImg7 from "@assets/images/gym/IMG_1015.jpg";
import amenitiesImg8 from "@assets/images/gym/IMG_1016.jpg";
import amenitiesImg9 from "@assets/images/gym/IMG_1019.jpg";
import amenitiesImg10 from "@assets/images/gym/IMG_1028.jpg";
import amenitiesImg11 from "@assets/images/gym/IMG_1034.jpg";
import amenitiesImg12 from "@assets/images/gym/IMG_1037.jpg";

const amenities = [
  {
    category: "Gym amenities",
    items: [
      "24-hour security",
      "convenient parking",
      "private restrooms",
      "private showers",
      "free classes",
    ],
  },
  {
    category: "Cardio",
    items: [
      "treadmills w/ TVs",
      "ski ergs",
      "rowing machines",
      "exercise bikes",
      "ellipticals",
      "boxing equipment",
      "yoga mats",
    ],
  },
  {
    category: "Strength",
    items: [
      "squat racks",
      "cable machines",
      "plate loaded",
      "barbells",
      "dumbbells",
      "kettlebells",
      "medicine balls",
    ],
  },
  {
    category: "Training Services",
    items: ["personal training", "fitness assessment"],
  },
];
---

<Layout title="Amenities">
  <section class="flex flex-col items-center gap-6 pt-20 max-md:pt-10 px-2">
    <div class="flex flex-col gap-24 max-md:gap-12">
      <h1 class="capitalize text-8xl font-bold max-md:text-6xl">
        What we have to offer
      </h1>
      <div class="grid grid-cols-4 max-md:grid-cols-2 gap-6">
        {
          amenities.map((amenity) => (
            <div>
              <h1 class="capitalize text-2xl">{amenity.category}</h1>
              <ul class="mt-2">
                {amenity.items.map((item) => (
                  <li class="capitalize list-disc ml-4">{item}</li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <div class="swiper h-96 gallery mt-12">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <Image
          src={amenitiesImg1}
          alt="amenities image"
          class="w-full h-full object-cover border-8 border-secondary"
        />
      </div>
      <div class="swiper-slide">
        <Image
          src={amenitiesImg2}
          alt="amenities image"
          class="w-full h-full object-cover border-8 border-secondary"
        />
      </div>
      <div class="swiper-slide">
        <Image
          src={amenitiesImg3}
          alt="amenities image"
          class="w-full h-full object-cover border-8 border-secondary"
        />
      </div>
      <div class="swiper-slide">
        <Image
          src={amenitiesImg4}
          alt="amenities image"
          class="w-full h-full object-cover border-8 border-secondary"
        />
      </div>
      <div class="swiper-slide">
        <Image
          src={amenitiesImg5}
          alt="amenities image"
          class="w-full h-full object-cover border-8 border-secondary"
        />
      </div>
      <div class="swiper-slide">
        <Image
          src={amenitiesImg6}
          alt="amenities image"
          class="w-full h-full object-cover border-8 border-secondary"
        />
      </div>
      <div class="swiper-slide">
        <Image
          src={amenitiesImg7}
          alt="amenities image"
          class="w-full h-full object-cover border-8 border-secondary"
        />
      </div>
      <div class="swiper-slide">
        <Image
          src={amenitiesImg8}
          alt="amenities image"
          class="w-full h-full object-cover border-8 border-secondary"
        />
      </div>
      <div class="swiper-slide">
        <Image
          src={amenitiesImg9}
          alt="amenities image"
          class="w-full h-full object-cover border-8 border-secondary"
        />
      </div>
      <div class="swiper-slide">
        <Image
          src={amenitiesImg10}
          alt="amenities image"
          class="w-full h-full object-cover border-8 border-secondary"
        />
      </div>
      <div class="swiper-slide">
        <Image
          src={amenitiesImg11}
          alt="amenities image"
          class="w-full h-full object-cover border-8 border-secondary"
        />
      </div>
      <div class="swiper-slide">
        <Image
          src={amenitiesImg12}
          alt="amenities image"
          class="w-full h-full object-cover border-8 border-secondary"
        />
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</Layout>

<script>
  // import Swiper bundle with all modules installed
  import Swiper from "swiper/bundle";

  // import styles bundle
  import "swiper/css/bundle";

  const swiper = new Swiper(".gallery", {
    breakpoints: {
      640: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 3,
      },
    },
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
