---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import heroImg from "@assets/images/hero.png";
import amenitiesImg from "@assets/images/amenities.jpg";
import classesImg from "@assets/images/classes.jpeg";
import forWomenImg from "@assets/images/forWomen.webp";
import communityImg from "@assets/images/community.jpeg";
import cuteImg from "@assets/images/cute.jpg";
import Map from "@components/Map.astro";
import { Icon } from "astro-icon";

import heroBGImg from "@assets/images/gym/IMG_09902.jpg";

import amenitiesImg1 from "@assets/images/gym/IMG_0990.jpg";
import amenitiesImg2 from "@assets/images/gym/IMG_0993.jpg";
import amenitiesImg3 from "@assets/images/gym/IMG_0996.jpg";
import amenitiesImg4 from "@assets/images/gym/IMG_1006.jpg";
import amenitiesImg5 from "@assets/images/gym/IMG_1008.jpg";
import amenitiesImg6 from "@assets/images/gym/IMG_1009.jpg";
import amenitiesImg7 from "@assets/images/gym/IMG_1015.jpg";
import amenitiesImg8 from "@assets/images/gym/IMG_1016.jpg";
import amenitiesImg9 from "@assets/images/gym/IMG_1019.jpg";
import amenitiesImg10 from "@assets/images/gym/IMG_1028.jpg";
import amenitiesImg11 from "@assets/images/gym/IMG_1034.jpg";
import amenitiesImg12 from "@assets/images/gym/IMG_1037.jpg";
import PricingCard from "@components/PricingCard.astro";

const features = [
  {
    title: "Amenities",
    url: "/amenities",
    image: amenitiesImg,
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
  },
  {
    title: "Classes",
    url: "/classes",
    image: classesImg,
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
  },
  {
    title: "For Women",
    url: "/for-women",
    image: forWomenImg,
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
  },
];
---

<Layout title="Ata Ahi Fitness">
  <section class="flex flex-col items-center gap-6 pt-20 max-md:pt-10 relative">
    <div class="py-44 max-md:py-10">
      <div class="text-center flex flex-col gap-6 max-md:gap-2 text-base-200">
        <h1
          class="uppercase text-6xl font-bold max-md:text-2xl z-10 text-base-200"
        >
          Welcome to
        </h1>
        <h1
          id="hero-text"
          class="uppercase text-8xl font-bold max-md:text-4xl z-10 overflow-hidden"
        >
          Ata Ahi Fitness
        </h1>
      </div>
      <div class="flex flex-col items-center">
        <a
          href="/join-us"
          class="btn btn-primary text-base-100 shadow-2xl btn-wide mt-4 rounded-none text-2xl z-10"
          >Join Us Today</a
        >
      </div>
      <Image
        id="hero-img"
        src={heroBGImg}
        width={1300}
        alt="Ata Ahi Fitness"
        class="opacity-0 absolute top-0 left-0 w-full h-full object-cover"
      />
      <div
        class="absolute top-0 left-0 w-full h-full object-cover bg-gradient-to-r from-primary to-black opacity-[35%]"
      >
      </div>
    </div>
  </section>
  <section class="py-10 px-4 flex flex-col gap-12 items-center">
    <div class="flex flex-col gap-12 max-md:gap-6 text-center">
      <h1 class="text-6xl text-center max-md:text-4xl">NAU MAI, HAERE MAI</h1>

      <div class="flex flex-col max-w-screen-lg mx-auto gap-6">
        <h1 class="text-4xl max-md:text-3xl text-center">
          Ia Orāna, Welcome to Ata Ahi Fitness & Wellbeing
        </h1>

        <p class="text-xl">
          Our members enjoy a quiet, uncrowded, chilled vibe in our gym studio
          with access to the complex's heated indoor lap pool (25m) and rooftop
          tennis court. You'll notice that our coaches genuinely care about our
          clients and never try to do the 'hard sell' on anyone. If we don't
          think we're the right fit for you, we'll suggest a gym that is.
        </p>
        <p class="text-xl">
          Besides our group fitness sessions, bootcamps and masterclasses, our
          <i><b>Move Better, Flex Well</b></i> clinic offers a free assessment for
          those with limited mobility, range of motion or old injuries.
        </p>
      </div>
    </div>
    <div class="flex flex-col items-center gap-6">
      <Image src={cuteImg} width={500} alt={"Cute"} class="rounded-2xl" />
      <p class="text-xl italic font-light text-center">
        End of a long day but the smiles are still going strong
      </p>
    </div>
  </section>
  <section class="px-2 py-10">
    <div class="flex flex-col gap-12 items-center w-full">
      <div class="flex flex-col text-center gap-6 max-w-screen-lg">
        <h1 class="text-6xl text-center">Memberships</h1>
        <p class="text-center text-xl font-light">
          Includes member access to the swimming pool and tennis court, group
          fitness classes and discounted rates to our masterclass series.<br
          /><br /> If you don't see a term membership that suits your own timeframe,
          please contact us to discuss whether we can package something suitable
          for you.
        </p>
      </div>
      <!-- <p
        class="text-2xl max-md:text-lg leading-loose max-md:leading-loose max-w-4xl mx-auto"
      >
        We offer fixed 12 months, flexible and daily contracts for our gym.
      </p> -->
      <div class="grid grid-cols-2 max-md:grid-cols-1 gap-12 max-md:w-full">
        <PricingCard
          title="3 MTH"
          price="26.50"
          couplesPrice="25"
          frequency="week"
        />
        <PricingCard
          title="6 MTH"
          price="25"
          couplesPrice="23.50"
          frequency="week"
        />
        <PricingCard
          title="Flexi-term"
          price="29"
          frequency="week"
          description="No joining fee with 6 weeks minimum. Cancel anytime with 2 weeks notice"
        />
        <PricingCard
          title="Students"
          price="20"
          frequency="week"
          description="12 months minimum. Can pause for 9 weeks per year."
        />
      </div>

      <div class="flex flex-col gap-6">
        <h1 class="text-3xl text-center font-light">
          Looking for more savings? Check out our upfront payment options!
        </h1>
        <div class="grid grid-cols-2 gap-12 max-md:grid-cols-1">
          <PricingCard title="3 MTH upfront" price="325" frequency="3 months" />
          <PricingCard title="6 MTH upfront" price="600" frequency="6 months" />
          <PricingCard
            title="12 MTH upfront"
            price="1000"
            frequency="12 months"
          />
        </div>
      </div>
      <div class="flex flex-col gap-4 max-w-screen-lg items-center">
        <p class="text-center text-2xl font-light">
          Casual rates available, please call to enquire. If you require a
          fixed-term membership (which isn't listed here) please contact us to
          discuss.
        </p>
        <!-- <p class="text-center text-2xl font-light">
          All memberships include group fitness classes (except the Cook Islands
          dance classes)
        </p> -->
        <p class="text-center text-xl font-light">
          Terms & Conditions apply to all our memberships.
        </p>
        <a
          href="/join-us"
          class="btn btn-primary text-base-100 shadow-2xl btn-wide mt-4 rounded-none text-2xl z-10"
          >Contact Us</a
        >
      </div>
    </div>
  </section>
  <section>
    <div class="bg-primary">
      <div class="grid grid-cols-2 max-md:grid-cols-1 place-items-center">
        <div class="flex flex-col gap-6 text-base-100 p-16 max-md:p-10">
          <h1 class="capitalize text-6xl max-md:text-5xl font-bold">
            Find us here
          </h1>
          <h2 class="text-3xl max-md:text-2xl">
            Level 4, Scene One Apartments <br /> 2 Beach Road <br /> Auckland CBD
            1010
          </h2>
          <a
            href="tel:+640212146247"
            class="text-2xl max-md:text-xl flex items-center btn btn-lg"
            ><Icon pack="mdi" name="phone" class="w-8" />+64 022 355 4721</a
          >
        </div>
        <Map />
      </div>
    </div>
  </section>
  <section class="border-y-[32px] border-white max-md:border-y-8">
    <div class="swiper h-96 gallery">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <video
            width="320"
            height="240"
            playsinline
            autoplay
            muted
            loop
            class="w-full h-full object-cover"
          >
            <source src="/gym.mov" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="swiper-slide">
          <Image
            width={700}
            height={700}
            src={amenitiesImg1}
            alt="amenities image"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="swiper-slide">
          <Image
            width={700}
            height={700}
            src={amenitiesImg2}
            alt="amenities image"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="swiper-slide">
          <Image
            width={700}
            height={700}
            src={amenitiesImg3}
            alt="amenities image"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="swiper-slide">
          <Image
            width={700}
            height={700}
            src={amenitiesImg4}
            alt="amenities image"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="swiper-slide">
          <Image
            width={700}
            height={700}
            src={amenitiesImg5}
            alt="amenities image"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="swiper-slide">
          <Image
            width={700}
            height={700}
            src={amenitiesImg6}
            alt="amenities image"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="swiper-slide">
          <Image
            width={700}
            height={700}
            src={amenitiesImg7}
            alt="amenities image"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="swiper-slide">
          <Image
            width={700}
            height={700}
            src={amenitiesImg8}
            alt="amenities image"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="swiper-slide">
          <Image
            width={700}
            height={700}
            src={amenitiesImg9}
            alt="amenities image"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="swiper-slide">
          <Image
            width={700}
            height={700}
            src={amenitiesImg10}
            alt="amenities image"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="swiper-slide">
          <Image
            width={700}
            height={700}
            src={amenitiesImg11}
            alt="amenities image"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="swiper-slide">
          <Image
            width={700}
            height={700}
            src={amenitiesImg12}
            alt="amenities image"
            class="w-full h-full object-cover"
          />
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </section>
  <section
    class="p-32 max-md:px-6 max-md:py-24 bg-gradient-to-r from-secondary to-primary bg-opacity-30"
  >
    <div class="flex flex-col items-center gap-8">
      <h1 class="capitalize text-8xl max-md:text-4xl font-bold text-base-100">
        Let's get started
      </h1>
      <a
        href="/join-us"
        class="btn btn-primary text-base-100 shadow-2xl btn-wide mt-4 rounded-none text-2xl z-10"
        >Join Today</a
      >
    </div>
  </section>
</Layout>

<script>
  import { gsap } from "gsap";
  import SplitType from "split-type";

  const text = new SplitType("#hero-text");

  // default char styles in main.css

  var heroTimeline = gsap.timeline();

  heroTimeline
    .to(".char", {
      y: 0,
      duration: 0.1,
      stagger: 0.05,
      delay: 0.2,
    })
    .to("#hero-img", {
      opacity: 1,
      duration: 0.5,
    });
</script>

<script>
  // import Swiper bundle with all modules installed
  import Swiper from "swiper/bundle";

  // import styles bundle
  import "swiper/css/bundle";

  const swiper = new Swiper(".gallery", {
    breakpoints: {
      640: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 3,
      },
    },
    spaceBetween: 40,
    autoplay: {
      delay: 5000,
      disableOnInteraction: true,
      pauseOnMouseEnter: true,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
