---
interface Props {
  title: string;
}

import Footer from "../components/Footer.astro";
import Header from "../components/Header";
const { title } = Astro.props;

const pages: NavItem[] = [
  { name: "About Us", url: "/about-us" },
  { name: "Amenities", url: "/amenities" },
  { name: "Join Today", url: "/join-us" },
  // { name: "Classes", url: "/classes" },
  // { name: "For Women", url: "/for-women" },
];

const socials = [
  {
    label: "email",
    icon: "mdi:email",
    action: "mailto:adele@ataahifitness.co.nz",
  },
  {
    label: "phone",
    icon: "mdi:phone",
    action: "tel:+640212146247",
  },
  {
    label: "instagram",
    icon: "mdi:instagram",
    action: "https://www.instagram.com/",
  },
  {
    label: "facebook",
    icon: "mdi:facebook",
    action: "https://www.facebook.com/",
  },
  // {
  //   label: "linkedin",
  //   icon: "mdi:linkedin",
  //   action:
  //     "https://www.linkedin.com/company/joycreative-nz/?originalSubdomain=nz",
  // },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="">
      <Header pages={pages} client:load />
      <div
        data-theme={`${
          Astro.url.pathname == "/for-women" ||
          Astro.url.pathname == "/for-women/"
            ? "valentine"
            : "winter"
        }`}
      >
        <slot />
      </div>
    </main>
    <Footer pages={pages} socials={socials} />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
